

h1 {
    margin: 1.8rem 0;
    font-family: "Bevan", sans-serif;
    line-height: 25%;
    font-size: 2.2rem;
    color: #000;
}
nav .nav-wrapper {
    background-color: beige;
    width: 100vw;
}
nav ul {
    margin: 0 20px;
}
nav ul a {
    color: #000;
}

p, li {
    font-family: "Oxygen", sans-serif;
    color: #000;
}
@media screen and (min-width: 900px) {
    h1 {
        font-size: 2.8rem;
    }
}
/*********************************************** Index page    */

.bg-film {
    position: relative;
    background-color: #594757;
}

.bg-film img {
    max-width: 100vw;
}

.red {
    color: red;
}

.error {
    color: red
}

@media screen and (min-width: 450px) {
    .bg-film img {
        width: 450px;
    }
}


/*********************************************** User profile page  - Film Carousel  */

.carousel.carousel-slider {
    top: 0;
    left: 0;
    height: 700px !important;
}
.arrow-pic-container {
    display: inline-flex;
    height: 60%;
}

.prev, .next{
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 30px;
}
.poster-container img {
    color: white;
    width: inherit;
    height: inherit;
}
.poster-container{
    background-color: black;
    position: relative;
    margin: auto;
    height: 350px;
    width: 236px;
}
.poster-container img{
    height: 100%;
    width: 100%;
}

.rating-overlay{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: beige;
    border-radius: 5px;
    color: #000;
    width: 40px;
    height: 40px;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    text-align: center;
}
.rating-container{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
html{
    line-height: 1;
}
.table-container{
    height: inherit;
    background-color: beige;
}
table {
    background-color: inherit;
}
tr{
    border-bottom: none;
}
td{
    border: none;
}
.left-field{
    text-align: right;
    padding-left: 20px;
}
.right-field{
    text-align: left;
    padding-left: 15px;
}

@media screen and (min-width:700px){
    .carousel-container {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        width: 100vw;
    }
    .carousel.carousel-slider {
        height: 400px !important;
        width: 700px;
        border-radius: 5px;
        border: 1px solid black;
    }
    .carousel .carousel-item{
        display: inline-flex;
        height: inherit;
    }
    .arrow-pic-container {
        display: block;
        width: 270px;
        height: 100%;
    }
    .poster-container {
        height: 100%;
        width: inherit;
    }
    .hide-on-large-and-up{
        display: none ! important;
    }
    .hide-on-med-and-down {
        display: flex !important;
    }
    .prev, .next{
        padding: 0 2vw;
    }
    .table-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: inherit;
    }
}

@media screen and (min-width:1000px){
    .carousel.carousel-slider {
        height: 456px !important;
        width: 800px;
    }
    
    .arrow-pic-container {
        width: 308px;
        height: 100%;
    }
    .prev, .next{
        padding: 0 8vw;
    }
}

/*********************************************** Film Carousel - End */

/*********************************************** Insert form         */

#film-display {
    display: flex;
}
.film-data {
    display: block;
    text-align: center;
    margin: 0 10px;
}
.film-data p {
    font-size: 16px;
}
 
.film-data:hover {
    border: 1px solid black;
    border-radius: 5px;
}
.film-data img {
    max-height: 200px;
    max-width: 135px;
    height: auto;
    width: auto;
}

/*********************************************** Insert form - End   */

/*********************************************** Films page         */
.film-card-container{
    display: block;
    background-color: white;
    padding: 15px;
}
.film-card{
    /*display: flex;
    margin: auto;
    width: 50%;*/
}
.film-card .title, .film-card .year {
    background-color: black;
    color: white;
    border-style: none;
}
.film-card .year, .film-card .avg-rating {
    text-align: center;
}
.film-card .avg-rating{
    background-color: beige;
    color: black;
    margin-left: 5px;
}