<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Bevan&family=Oxygen:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" type="text/css">
    <title>RecoMovie</title>
</head>

<body>
<nav>
    <div class="nav-wrapper">
        {% if 'username' in session %}
        <ul class="left hide-on-small-and-down" id="left-nav">
            <li id="login-status">Logged in as {{session['username']}}</li>
        </ul>
        

        <a href="{{url_for('userprofile')}}" class="brand-logo center">
        {% else %}
        <a href="{{url_for('home')}}" class="brand-logo center">
        {% endif %}
            <h1>RecoMovie</h1>
        </a>
        <ul class="right right-nav hide-on-med-and-down">
            <li class="{% block home %}{% endblock %}">
            {% if 'username' in session %}
                <a href="{{url_for('userprofile')}}">Home</a>
            {% else %}
                <a href="{{url_for('home')}}">Home</a>
            {% endif %}
            </li>
            <li class="{% block users %}{% endblock %}"><a id="dropdown-users" class='dropdown-trigger'
            href='' data-target='dropdown'>Users</a>
                <ul id='dropdown' class='dropdown-content'>
                    <li id="search-bar-container">
                        <form action="{{url_for('view_user') }}" autocomplete="off" method="POST">
                            <input type="text" name="username" placeholder="Look up user" id="user-search"
                            onkeyup="filterUsers(this)">
                            <button class="user-search-btn" type="submit" onclick="activePage(this)">
                                <img src="{{url_for('static', filename='images/search-icon.png') }}" 
                                alt="Search-icon">
                            </button>
                        </form>
                    </li>
                    <li id="suggestion-description">User profiles matching your search</li>
                </ul>
            </li>
            {% if 'username' in session %}
            <li class="{% block logout %}{% endblock %}" onclick="activePage(this)">
                <a href="{{ url_for('logout') }}">Log out</a>
            </li>
            {% else %}
            <li class="{% block login %}{% endblock %}" onclick="activePage(this)">
                <a href="{{ url_for('login_page') }}">Login</a>
            </li>
            {% endif %}
            <li class="{% block films %}{% endblock %}" onclick="activePage(this)">
                <a href="{{url_for('show_films')}}">Films</a>
            </li>
        </ul>
        <ul class="right right-nav hide-on-large-and-up">
            <a href="#" data-target="slide-out" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
        </ul>
    </div>
</nav>

<div id="slide-out" class="sidenav">
    <div class="sidenav-close"><a href=""><span class="material-icons">close</span></a></div>
    <ul>
    {% if 'username' in session %}
    <li><a href="{{url_for('userprofile')}}">Home</a></li>
    {% else %}
    <li><a href="{{url_for('home')}}">Home</a></li>
    {% endif %}
    <li><a id="side-dropdown-users" class='dropdown-trigger' href='' data-target='side-dropdown'>Users</a>
        <ul id='side-dropdown' class='dropdown-content'>
            <li id="side-search-bar-container">
                <form action="{{url_for('view_user' ) }}" autocomplete="off" method="POST">
                    <input type="text" name="username" placeholder="Look up user" id="side-user-search"
                    onkeyup="filterUsers(this)">
                    <button class="user-search-btn" type="submit">
                        <img src="{{url_for('static', filename='images/search-icon.png') }}" alt="Search-icon">
                    </button>
                </form>
            </li>
            <li id="side-suggestion-description">User profiles matching your search</li>
        </ul>
    </li>
    {% if 'username' in session %}
    <li><a href="{{ url_for('logout') }}">Log out</a></li>
    {% else %}
    <li><a href="{{ url_for('login_page') }}">Login</a></li>
    {% endif %}
    <li><a href="{{url_for('show_films')}}">Films</a></li>
    </ul>
</div>
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block content %}
{% endblock %}

<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(document).ready(function(){
    var elemSideNav = document.querySelectorAll('.sidenav');
    var instanceSideNav = M.Sidenav.init(elemSideNav, {edge:'right'});
    $(".dropdown-trigger").dropdown({
        coverTrigger: false,
        closeOnClick: false
    });
    // The following refocuses the search bar upon typing the first letter of the 
    // suggestion-description.
    $('#user-search').blur(function() {
        $('#user-search').focus();
    });
    // Similarly for the side nav bar.
    $('#side-user-search').blur(function() {
        $('#side-user-search').focus();
    });
});

function filterUsers(userSearch){
    userEntry=$(userSearch).val();
    let searchUserId=$(userSearch).parent().parent().attr("id");
    if (searchUserId.match(/side/)){
        suggestUsers("side-suggestion-description", "side-dropdown");
    } else {
        suggestUsers("suggestion-description", "dropdown");
    }
}

function suggestUsers(suggestionDescriptionId, dropdownId){
    $.getJSON($SCRIPT_ROOT + '/username_search_options', 
    { searchValue: userEntry },
    function(data) {
        $("#"+suggestionDescriptionId).text("User profiles matching your search");
        let r = data.result;
        r=JSON.parse(r);
        if(r.length==0){
            $("#"+suggestionDescriptionId).text("No users available from this search");
        }
        $(".suggestions").remove();
        for(i of r){
            $("#"+dropdownId).append(`<li class="suggestions" onclick="getSuggestion(this)">`
            +i['username']+`</li>`);
        }
    }); 
}

function getSuggestion(suggestion){
    // Upon clicking suggestion (dynamically created in filterUsers function) suggestion 
    //  appears in input field.
    let s=$(suggestion).text();
    let parentId=$(suggestion).parent().attr("id");
    if ( parentId.match(/side/) ){
        $('#side-user-search').val(s);
    } else {
        $('#user-search').val(s);
    }
}
</script>
</body>
</html>