{% extends 'base.html' %}
{% block content %}

<h2>Film Rankings</h2>

<h3>Overall Top 10</h3>

<div class="film-card-container">
<div class="table">
{% for film in overall_rankings %}
    <a class="table-row film-card" href="{{ url_for('get_reviews', filmID=film.imdbID, avgRating=film.averageRating) }}">
        <div class="table-cell rank">{{loop.index}}</div>
        <div class="table-cell title">{{film.title}}</div>
        <div class="table-cell year">{{film.year}}</div>
        <div class="table-cell avg-rating">{{film.averageRating}}</div>
        <div class="table-cell ratings-count">({{film.ratingsCount}} ratings)</div>    
    </a>

{% endfor %}
</div>
</div>

<h3>View other Top 10 rankings</h3>

<h4>By Genre</h4>
<div class="category-grid-container">
    <div class="box-grid">
        <div id="Animation" class="box-item genre-item" onclick="getGenre(this)">Animation</div>
        <div id="Action" class="box-item genre-item" onclick="getGenre(this)">Action</div>
        <div id="Sci-fi" class="box-item genre-item" onclick="getGenre(this)">Sci-fi</div>
        <div id="Comedy" class="box-item genre-item" onclick="getGenre(this)">Comedy</div>
        <div id="Crime" class="box-item genre-item" onclick="getGenre(this)">Crime</div>
        <div id="Thriller" class="box-item genre-item" onclick="getGenre(this)">Thriller</div>
        <div id="Romance" class="box-item genre-item" onclick="getGenre(this)">Romance</div>
        <div id="Horror" class="box-item genre-item" onclick="getGenre(this)">Horror</div>
        <div id="Fantasy" class="box-item genre-item" onclick="getGenre(this)">Fantasy</div>
    </div>
</div>

<h3 id="genre-top-10"></h3>

<div class="film-card-container">
    <div id="genre-table" class="table">
    </div>
</div>

<h4>By Director</h4>

<div class="row">     
		<div class="input-field col s6">  
			<input id="director_name" type="text" name="director_name"> <!--onblur="checkDirector(this)"-->
			<label for="director_name" class="active"><span class="material-icons">search</span>Director's name</label>
		</div>
</div>
<button class="btn waves-effect waves-light" type="submit" onclick="getDirectors()">See their top 10
        <i class="material-icons right"></i>
</button>

<h3 id="director-top-10"></h3>
<div id="director-error" class="error"></div>
<div class="film-card-container">
    <div id="director-table" class="table">
    </div>
</div>

<h4>By Decade</h4>
<div class="category-grid-container">
    <div class="box-grid">
        <div id="1950" class="box-item decade-item" onclick="getDecade(this)">50's</div>
        <div id="1960" class="box-item decade-item" onclick="getDecade(this)">60's</div>
        <div id="1970" class="box-item decade-item" onclick="getDecade(this)">70's</div>
        <div id="1980" class="box-item decade-item" onclick="getDecade(this)">80's</div>
        <div id="1990" class="box-item decade-item" onclick="getDecade(this)">90's</div>
        <div id="2000" class="box-item decade-item" onclick="getDecade(this)">00's</div>
        <div id="2010" class="box-item decade-item" onclick="getDecade(this)">10's</div>
        <div id="2020" class="box-item decade-item" onclick="getDecade(this)">2020</div>
    </div>
</div>

<h3 id="decade-top-10"></h3>

<div class="film-card-container">
    <div id="decade-table" class="table">
    </div>
</div>

<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
function getGenre(genre){
    let genreToQuery = $(genre).html();
    
        $.getJSON($SCRIPT_ROOT + '/show_genre_films', 
            { genre: genreToQuery },
            function(data) {
                let r = data.result;
                console.log("retrieval success")
                r=JSON.parse(r);
                console.log('result is of type '+typeof(r))
                $("#genre-table").empty();
                $("#genre-top-10").html(genreToQuery+" Top 10");
                for(let i=0; i<r.length; i++){
                    $("#genre-table").append(`
                    <a class="table-row film-card" href="`+$SCRIPT_ROOT+`/get_reviews/`+r[i].imdbID+`/`+r[i].averageRating+`">
                        <div class="table-cell rank">`+(i+1)+`</div>
                        <div class="table-cell title">`+r[i].title+`</div>
                        <div class="table-cell year">`+r[i].year+`</div>
                        <div class="table-cell avg-rating">`+r[i].averageRating+`</div>
                        <div class="table-cell ratings-count">`+r[i].ratingsCount+`</div>    
                    </a>`)
                }
        });
}

function getDirectors(){
    let directorToQuery = $("#director_name").val();
    
        $.getJSON($SCRIPT_ROOT + '/show_director_films', 
            { director: directorToQuery },
            function(data) {
                let r = data.result;
                console.log("retrieval success")
                r=JSON.parse(r);
                $("#director-table").empty();
                $('#director-error').empty();
                if (r.length===0){
                    $('#director-error').html("Sorry but there are no films by this director on our records.")
                } else {
                    $("#director-top-10").html(formatDirectorInput(directorToQuery)+"'s Top 10");
                    for(let i=0; i<r.length; i++){
                        $("#director-table").append(`
                        <a class="table-row film-card" href="`+$SCRIPT_ROOT+`/get_reviews/`+r[i].imdbID+`/`+r[i].averageRating+`">
                            <div class="table-cell rank">`+(i+1)+`</div>
                            <div class="table-cell title">`+r[i].title+`</div>
                            <div class="table-cell year">`+r[i].year+`</div>
                            <div class="table-cell avg-rating">`+r[i].averageRating+`</div>
                            <div class="table-cell ratings-count">`+r[i].ratingsCount+`</div>    
                        </a>`)
                    }
                }
        }); 
}    
function formatDirectorInput(directorName){
    // formats input to 
    directorName=directorName.toLowerCase();
    directorWords=directorName.split(" ");
    formattedWords=[];
    for(word of directorWords){
        word=word.charAt(0).toUpperCase()+word.slice(1);
        formattedWords.push(word);
    }
    formattedDirectorName=formattedWords.join(" ");
    return formattedDirectorName;
}
function getDecade(year){
    let decadeToQuery = $(year).attr('id');
    decadeToQuery= parseInt(decadeToQuery);
        $.getJSON($SCRIPT_ROOT + '/show_decade_films', 
            { decade: decadeToQuery },
            function(data) {
                let r = data.result;
                console.log("retrieval success")
                r=JSON.parse(r);
                $("#decade-table").empty();
                $("#decade-top-10").html(decadeToQuery+"'s Top 10");
                for(let i=0; i<r.length; i++){
                    $("#decade-table").append(`
                    <a class="table-row film-card" href="`+$SCRIPT_ROOT+`/get_reviews/`+r[i].imdbID+`/`+r[i].averageRating+`">
                        <div class="table-cell rank">`+(i+1)+`</div>
                        <div class="table-cell title">`+r[i].title+`</div>
                        <div class="table-cell year">`+r[i].year+`</div>
                        <div class="table-cell avg-rating">`+r[i].averageRating+`</div>
                        <div class="table-cell ratings-count">`+r[i].ratingsCount+`</div>    
                    </a>`)
                }
            }); 
}    
        

</script>
{% endblock %}