{% extends 'base.html' %}
{% block home %}active{% endblock %}
{% block content %}
<div class="bg-film">
    <img src="{{url_for('static',filename='images/movie-image.jpg')}}" alt="projector image">
</div>
<div class="tagline">
    <h1>What to watch? You've come to the right place.</h1>
</div>
<div class="film-images-container">
    <div class="film-images">
{% for film in film_display %}
    <img src="{{film.poster}}">
{% endfor %}
    </div>
</div>
<div class="main-description">
    <p>Check out our <a href="{{url_for('show_films')}}" ><span>Top 10's</span></a> for inspiration or view your friends pages to see what they're into.</p>
</div>

<div class="form-container">
    <h2>New to RecoMovie?</h2>
    <h3>Sign up here</h3>
    <div class="row">
        <form action="{{url_for('insert_user') }}" method="POST" class="col s12">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class=flashes>
                {% for category, message in messages %}
                <div class="{{category}}">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" type="text" name="username" class="validate" oninput="checkUsername(this)" required>
                    <label for="username" class="active">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password" minlength="9" class="validate" oninput="checkPasswordsMatch(this)" required>
                    <label for="password" class="active" data-error="Please enter your first name.">Password</label>
                </div>
                <div id="form-hint">Please note your password must be more than 8 characters long.</div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="c_password" type="password" name="c_password" class="validate" oninput="checkPasswordsMatch(this)" required>
                    <label for="c_password" class="active">Confirm Password</label>
                </div>
            </div>
            <div class="row" id="err-msg">
            </div>
            <button class="btn form-submit" id="sign-up-btn"  type="submit" name="action">Sign Up
                <i class="material-icons right"></i>
            </button>
        </form>
    </div>
</div>

{% endblock %}


