{% extends 'base.html' %}
{% block content %}

<h2>Welcome {{username}}</h2>

<h3>Your Films</h3>

{% for film in films %}

    <h4>{{film.title}}</h4>

    <ul>
        <li>Imdb ID:{{film.imdbID}}</li>
        <li>Year:{{film.year}}</li>
        <li>Cast:{{film.cast}}</li>
        <li>Director:{{film.director}}</li>
        <li>Runtime:{{film.runtime}}</li>
    {% for rate in film.ratings %}
    {% if rate.username==username %}        
        <li>Rating: {{rate.rating}}</li>
        <li>Review: {{rate.review}}</li>
    {% endif %}
    {% endfor %}
    </ul>
{% endfor %}

<h3>Rate your first film now.</h3>

<form action="{{url_for('insert_rating', username='{{username}}' ) }}" method="POST" class="col s12">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul class=flashes>
		{% for category, message in messages %}
		<div class="{{category}}">{{ message }}</div>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	<div class="row">     
		<div class="input-field col s6">
            
			<input id="film_title" type="text" name="film_title" class="validate autocomplete" onblur="getFilms(this)" onkeyup="getSuggestions(this)" /required>
			<label for="film_title" class="active"><span class="material-icons">search</span>Film title</label>
		</div>
        <div class="row col s6" id="film-display">
        </div>
	</div>
    <div class="row">
		<div class="input-field col s12">
            <select id="imdbID" name="imdbID" required>
                <option value="" disabled selected>Imdb ID</option>              
            </select>
			<label>Imdb ID</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
            <select id="Year" name="Year" onblur="getFilm(this)" required>
                <option value="" disabled selected>Choose which year</option>              
            </select>
			<label>Year</label>
		</div>
	</div>
        <div class="row">     
		<div class="input-field col s6">
            <select id="Director" name="Director" required>
                             
            </select>
			<label>Director</label>
		</div>
    </div>
    <div class="row">     
		<div class="input-field col s6">
			<select id="Actors" name="Actors" required>
                             
            </select>
			<label>Cast</label>
		</div>
    </div>
    <div class="row">
		<div class="input-field col s3">
            <select id="Runtime" name="Runtime" required>
                <option value="" disabled selected>Runtime</option>              
            </select>
			<label>Runtime</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
            <select id="rating" name="rating" required>
                <option value="" disabled selected>Give a rating</option>
                <option value="0">0</option>  
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>  
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>          
            </select>
			<label>Rating</label>
			<!--<input id="rating" type="number" name="rating" class="validate" oninput="check(this)" /required>
			<label for="rating" class="active">Rating</label>-->
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<textarea id="review" name="review" class="materialize-textarea" required></textarea>
			<label for="review">Review</label>
		</div>
	</div>

	<div class="row" id="err-msg">
	</div>
	<button class="btn waves-effect waves-light" type="submit" name="action">Create Rating
        <i class="material-icons right"></i>
    </button>
</form>

<script language='javascript' type='text/javascript'>
   // var film_options;
    var elems;
    var instances;
    var currYear = (new Date()).getFullYear();

    $(document).ready(function(){
        //$('select').formSelect();
        elems = document.querySelectorAll('select');
        $('#years').on('change', function() {
            console.log('change registered.')
            console.log($(this).val())
            let year=$(this).val();
            getFilm(year);
        });
        /*$('select').blur( function(){
            getFilm(this);
        });*/
    });

    function getSuggestions(filmname){
        $.get('https://www.omdbapi.com/?s='+filmname.value+'&apikey=61e49492',function(rawdata){
            console.log('getSuggestions entered.')
            /**** clear previous suggestions ****/
            var title_object = {};
            /**** autocomplete film suggestions ****/
            for (film of rawdata.Search){
                title_object[film.Title] = null;
            }

            $('input.autocomplete').autocomplete({
                data: title_object,
                limit: 5
            });  
        }); 
    }  
           
	function getFilms(filmname){
	    $.get('https://www.omdbapi.com/?s='+filmname.value+'&apikey=61e49492',function(rawdata){
            /**** clear previous search data ****/
            $("#film-display").html("");
            $('#years').html(`<option value="" disabled selected>Choose which year</option>`);
            $('#imdbID').html(`<option value="" disabled selected>Imdb ID</option>`);
            var year_object = {};
	        var arrayNoDuplicatesID = [];
	        var id = 0;
	        for ( film of rawdata.Search){
	            if (filmname.value.toLowerCase()===film.Title.toLowerCase() && arrayNoDuplicatesID.indexOf(film.imdbID)===-1 && film.Type==='movie'){
	                console.log("condition accessed.")
                    year_object[film.Year] = null;
                    id++;
                    $("#film-display").append(`<div class="film-data" id="`+film.imdbID+`"><img src="`+film.Poster+`"/><p>"`+film.Title+`", `+film.Year+`, `+film.imdbID+`</p></div>`);
                    arrayNoDuplicatesID.push(film.imdbID);
                    //$('#years').append(`<option id="year`+id+`" value="`+film.Year+`" onclick="getFilm(this)">`+film.Year+`</option>`)
                    //$('#imdbID').append(`<option value="`+film.imdbID+`">`+film.imdbID+`</option>`)
                }
            }
            if (id===0){
                $("#film-display").html("<p>Unfortunately this film doesn't exist in our database.</p>")
            }
            //instances = M.FormSelect.init(elems, data);
             $('#film-display > div').on('click', function() {
                console.log('click registered.')
                //console.log($(this).id)
                console.log('id is '+this.id)
                getFilm(this.id);
            });
	    });
    }

    function getFilm(chosen_id) {
        console.log('getFilm accessed.')
        let film_title=$('#film_title').val();
        $('select').formSelect();
	    $.get('https://www.omdbapi.com/?i='+chosen_id+'&apikey=61e49492',function(rawdata){
            //$("#film-display").html("");
            let arrayNoDuplicatesID=[];
            var rawstring=JSON.stringify(rawdata);
            omdb_data = JSON.parse(rawstring)
            console.log('rawstring is ' +rawstring+', Actors = '+rawdata["Actors"]+' Director = '+rawdata["Director"]+' runtime= '+rawdata["Runtime"])           
                
                if (arrayNoDuplicatesID.indexOf(rawdata["imdbID"])===-1){
                        //$("#film-display").html(`<div class="film-data" id="title1"><img src="`+film.Poster+`"/><p>"`+film.Title+`", `+film.Year+`, `+film.imdbID+`</p></div>`);
                    let fields=["imdbID","Year","Director","Actors","Runtime"];
                    for ( f of fields)
                        createElem(f, chosen_id);
                
                        
                        
                        //$("#imdbID").append(`<option value="`+rawdata["imdbID"]+`" disabled selected>`+rawdata["imdbID"]+`</option>`);
                        /*$("#years").html(`<option value="`+rawdata["Year"]+`" disabled selected>`+rawdata["Year"]+`</option>`);
                        $("#director").html(`<option value="`+rawdata["Director"]+`" disabled selected>`+rawdata["Director"]+`</option>`);
                        $('#cast').html(`<option value="`+rawdata["Actors"]+`" disabled selected>`+rawdata["Actors"]+`</option>`);
                        $('#runtime').html(`<option value="`+rawdata["Runtime"]+`" disabled selected>`+rawdata["Runtime"]+`</option>`);*/
                        
                        arrayNoDuplicatesID.push(film.imdbID);
                }

        });
    }
    function createElem(parentNode, film_id) {
        $.get('https://www.omdbapi.com/?i='+film_id+'&apikey=61e49492',function(rawdata){
            console.log(parentNode)
            $("#"+parentNode).empty();
            let option=document.createElement("OPTION");
            let att = document.createAttribute("value");       // Create a "class" attribute
            att.value = rawdata[parentNode];                           // Set the value of the class attribute
            option.setAttributeNode(att);                  
            //option.attr({value: rawdata[parentNode], disabled: "disabled", selected: "selected");
            console.log(parentNode+' is '+option.value)
            option.innerHTML=rawdata[parentNode];
            document.getElementById(parentNode).appendChild(option);
        });
    }
</script>

{% endblock %}