{% extends 'base.html' %}
{% block users %}active{% endblock %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	<ul class=flashes>
        <div class='err-msg-container'>
            {% for category, message in messages %}
            <div class="{{category}}">{{ message }}</div>
            {% endfor %}
        </div>
	</ul>
    {% endif %}
{% endwith %}

{% if username %}
<div class="title-area center">
    <h2 id="user-title">{{username}}'s Films</h2>

    {% set film_count = films|length %}
    {% if film_count > 0 %}
    <p>{{username}} has rated {{ film_count }} films</p>
    {% else %}
    <p>{{username}} doesn't have any films to view.</p>
    {% endif %}
</div>
{% endif %}

{% if films %}
<div class="search-title-container">
    <h3>Search Film</h3>
</div>


<div id="search-box-container">
    <div id="search-form-container">
        <div id="search-title-box" class="input-field">
            <label for="search-film-title">Title</label>
            <input id="search-film-title" type="text" name="search-film-title" autocomplete="off" class="validate autocomplete" onkeyup="getSuggestions(this)" onchange="getYears(this)" /required>
        </div>
        <div id="search-year-box" class="input-field">
            <select id="Year" name="Year" required>            
            </select>
            <label for="Year" class="validate">Year</label>
        </div>
        <button class="btn form-submit" type="submit" onclick="showFilmInCarousel()">Search Film</button>
    </div>
    <div id="search-err-msg"></div>
</div>

<div class="carousel-container" id="userview-carousel">
	<div class="prev hide-on-med-and-down">&lt;</div>
    <div class="carousel carousel-slider center" data-indicators="false">
			{% for film in films %}
			<div id="{{loop.index-1}}-{{film.imdbID}}" class="carousel-item center">
				<div class="arrow-pic-container">
					<div class="prev hide-on-large-and-up">&lt;</div> 
                    <div class="poster-container">
						<img src="{{film.poster}}" alt="{{film.title}} (poster unavailable)">
                    {% for rate in film.ratings %}
                    {% if rate.username==username %}
                        <div class="rating-overlay">
                            <div class="rating-container">
                                {{rate.rating}}
                            </div>
                        </div>
					</div>
					<div class="next hide-on-large-and-up">&gt;</div>
				</div>
				<div class="table-review-container">
                    <div>
                        <table>
                            <tr>
                                <td class="left-field ">Year:</td>
                                <td class="right-field">{{film.year}}</td>
                            </tr>
                            <tr>
                                <td class="left-field ">Cast:</td>
                                <td class="right-field">{{film.cast}}</td>
                            </tr>
                            <tr>
                                <td class="left-field">Director:</td>
                                <td class="right-field">{{film.director}}</td>
                            </tr>
                            <tr>
                                <td class="left-field">Runtime:</td>
                                <td class="right-field">{{film.runtime}}</td>
                            </tr>
                            <tr>
                            <td class="left-field" id="review-field">Review:</td><td class="right-field"></td>  
                            </tr>
                        </table>
                        <div id="small-review">
                            <p >{{rate.review}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}	
			</div>
		{% endfor %}
	    </div>
	    <div class="next hide-on-med-and-down">&gt;</div>
</div>

<div class="title-area">    
    <h3>{{username}}'s' Top Picks</h3>
</div>

<ul class="pagination top-picks">
    <li class="disabled left-chev" onclick="prevPage(this)"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% for page in range(top_picks|count) %}
    {% if page +1==1 %}
    <li class="page-btn active" id="tp-page-btn{{page+1}}" onclick="goToPage(this)">
    {% else %}
    <li id="tp-page-btn{{page+1}}" class="page-btn" onclick="goToPage(this)">
    {% endif %}
    <a href="#tp-page-{{page+1}}">{{page+1}}</a></li>
    {% endfor %}
    <li class="waves-effect right-chev" onclick="nextPage(this)"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>

{% set pages_counted = [] %}
{% for page in top_picks %}
<div id="tp-page-{{loop.index}}" class="film-card-container top-picks">
<div class="table">
{% for film in page %}
    <a class="table-row film-card" href="#userview-carousel" onclick="goToFilmSlide('{{film.imdbID}}')">
        <div class="table-cell rank">{{ loop.index + (pages_counted|length*films_per_page) }}</div>
        <div class="table-cell title">{{film.title}}</div>
        <div class="table-cell year">{{film.year}}</div>
        <div class="table-cell rating">{{film.ratings.0.rating}}</div>    
    </a>
{% endfor %}
</div>
</div>
{% set __ = pages_counted.append(1) %}
{% endfor %}

{% if new_releases %}
<div class="title-area">
    <h3>{{username}}'s' New Release Recommendations</h3>  
</div>
{% endif %}      

<ul class="pagination new-releases">
    <li class="disabled left-chev" onclick="prevPage(this)"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% for page in range(new_releases|count) %}
    {% if page +1==1 %}
    <li id="nr-page-btn{{page+1}}" class="active page-btn" onclick="goToPage(this)">
    {% else %}
    <li id="nr-page-btn{{page+1}}" class="page-btn" onclick="goToPage(this)">
    {% endif %}
    <a href="#nr-page-{{page+1}}.new-releases">{{page+1}}</a></li>
    {% endfor %}
    <li class="waves-effect right-chev" onclick="nextPage(this)"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>

{% set nr_pages_counted = [] %}
{% for page in new_releases %}
<div id="nr-page-{{loop.index}}" class="film-card-container new-releases">
<div class="table">
{% for film in page %}
    <a class="table-row film-card" href="#userview-carousel" onclick="goToFilmSlide('{{film.imdbID}}')">
        <div class="table-cell rank">{{ loop.index + (nr_pages_counted|length*films_per_page) }}</div>
        <div class="table-cell title">{{film.title}}</div>
        <div class="table-cell year">{{film.year}}</div>
        <div class="table-cell rating">{{film.ratings.0.rating}}</div>    
    </a>
{% endfor %}
</div>
</div>
{% set __ = nr_pages_counted.append(1) %}
{% endfor %}    


<div class="title-area">
    <h3>View {{username}}'s films by Genre</h3>
</div>

<div class="category-grid-container">
    <div class="box-grid">
        <div id="Animation" class="box-item genre-item" onclick="getUserGenre(this)">Animation</div>
        <div id="Action" class="box-item genre-item" onclick="getUserGenre(this)">Action</div>
        <div id="Sci-fi" class="box-item genre-item" onclick="getUserGenre(this)">Sci-fi</div>
        <div id="Comedy" class="box-item genre-item" onclick="getUserGenre(this)">Comedy</div>
        <div id="Crime" class="box-item genre-item" onclick="getUserGenre(this)">Crime</div>
        <div id="Thriller" class="box-item genre-item" onclick="getUserGenre(this)">Thriller</div>
        <div id="Romance" class="box-item genre-item" onclick="getUserGenre(this)">Romance</div>
        <div id="Horror" class="box-item genre-item" onclick="getUserGenre(this)">Horror</div>
        <div id="Fantasy" class="box-item genre-item" onclick="getUserGenre(this)">Fantasy</div>
    </div>
</div>

<div id="genre-results-area"></div>

{% endif %}
{% endblock %}